body {
    font-family: "helvetica"
}
.box {
    width: 200px;
    height: 200px;
    margin: 40px;
    float: left;
    text-align: center;
    border: #969696 solid thin;
    padding: 5px;
}

.blue {
    background-color: #add8e6;
    color: #f0f8ff;
}